<ion-view view-title="Create Account" hide-nav-bar="true" name="app-createaccount">
    <ion-content>
            <div class="photoball" ng-click="openImagePicker()">
                <i class="ion-ios-camera"></i>
            </div>
        <div class="content">
            <div class="row row-center">
                <div class="col">
                    <div class="list list-inset"><h2>Create Account.</h2></div>
                    <ul ng-if="errors">
                    <li class="assertive" ng-repeat="error in errors">{{error[0]}}</li>
                    </ul>
                    <p ng-bind="photopath"></p>
                    <form name="createaccountform" ng-submit="processCreateAccount()">
                    <div class="list list-inset">
                        <label class="item item-input">
                            <input type="text" required placeholder="your full name" name="name" ng-model="name" id="name">
                        </label>
                    </div>

                    <div class="list list-inset">
                        <label class="item item-input">
                            <input type="email" required placeholder="your email address" name="email" ng-model="email" id="email">
                        </label>
                    </div>
                    <div class="list list-inset">
                        <label class="item item-input">
                            <input type="password" required placeholder="your password" ng-model="password">
                        </label>
                    </div>
                        <div class="list" style="width:100px;margin-left:auto;margin-right:auto;text-align: center;">
                            notifications
                            <label class="toggle toggle-grey">
                                <input type="checkbox" name="notifications" id="notifications" ng-model="notifications">
                                <div class="track">
                                    <div class="handle"></div>
                                </div>
                            </label>
                        </div>
                        <div class="list list-inset">
                        <button type="submit" class="button button-dark fullwidth">Sign up</button>
                        </div>

                        <div class="list list-inset smallprint text-center">
                            by clicking "Sign up" you are agreeing to our <a ui-sref="app.terms">terms</a> & <a href="" ui-sref="app.privacy">privacy policy</a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>

