<ion-view view-title="Login" hide-nav-bar="true" name="splashlogin" id="splashLogin">
    <ion-content>

        <div class="content">
            <div class="row row-center">
                <div class="col text-center">

                    <h1 class="white"><img src="img/bless_logo_w.png" style="max-width: 300px; width:100%;" /></h1>

                    <form name="loginForm" ng-submit="processLogin()">
                    <div class="list list-inset">
                        <ul ng-if="error">
                            <li class="assertive">{{error}}</li>
                        </ul>
                        <label class="item item-input">
                            <input type="email" required placeholder="email address" id="email" name="email" ng-model="email" ng-focus="footer = false" ng-blur="footer = true">
                        </label>
                        </div>
                    <div class="list list-inset">
                        <label class="item item-input">
                            <input type="password" required placeholder="password" id="password" ng-model="password" ng-focus="footer = false" ng-blur="footer = true">
                        </label>
                    </div>
                        <div class="list list-inset hide" ><button type="submit" class="button button-dark fullwidth">Login</button></div>
                    </form>
                </div>
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer" ng-hide="!footer" ng-show="footer" id="create_account_footer">
        <div class="title"><a href="" ui-sref="createaccount">not a member? sign up {{footer}}</a></div>
    </div>
</ion-view>