<ion-view view-title="Login" hide-nav-bar="true" name="splashlogin" id="splashLogin">
    <ion-content>

        <div class="content">
            <div class="row row-center">
                <div class="col"><h1 class="white">BLESS</h1>
                    <em>together, we can bless the world.</em>

                    <div class="list list-inset">
                        <label class="item item-input">
                            <input type="email" required placeholder="email address" name="email">
                        </label>
                        </div>
                    <div class="list list-inset">
                        <label class="item item-input">
                            <input type="password" required placeholder="password">
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer">
        <div class="title"><a href="" ui-sref="app.createaccount">not a member? sign up</a></div>
    </div>
</ion-view>

